.root {
    -fx-background: #e4a411;
}

.button {
    -fx-border-radius: 2;
    -fx-padding: 5pt;
    -fx-background-color: White;
    -fx-text-fill: #206020;
    -fx-border-color: #206020;
}

.container {
    -fx-background-color: white;
    -fx-padding: 15pt;
}

.currentPlayerName {
    -fx-font: bold 14pt "Arial";
}

.rectangle {
    -fx-stroke: #206020;
    -fx-stroke-width: 2;
}

.label {
    -fx-font: bold 1.2em "Arial";
    -fx-text-fill: #206020;
}

.pieceShape {
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}