.root{
    -fx-background: #829b45;
}

.borderPane{
    -fx-background-image: url("../oca.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
    -fx-background-size: 370 380;
}

.button{
    -fx-background-color: White;
    -fx-border-radius: 2;
}

.upperGameNameHeader{
    -fx-font: bold italic 40pt "Arial";
}

.startGame{
    -fx-font-size: 12pt;
    -fx-text-fill: #206020;
    -fx-background-color: White;
    -fx-font: bold italic 15pt "Arial";
}

.table-view {
    -fx-font: bold italic 11pt "Arial";
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: #e4a411;
}

.table-view .column-header-background .label{
    -fx-text-fill: White;
}